$base-font-family: "Open Sans", sans-serif;
$base-color: #355265;
$base-color-link: #328ac1;
$base-background-color:  #ffffff;

$base-heading-font-family: "Lato", sans-serif;

$code-font-family: CutiveMono, monospace;

$header-background-color: #343a40;

$sidebar-color-section: #41657c;
$sidebar-color-link: #355265;

