@import "variables";
@import "reset";
@import "docs/header";
@import "docs/sidebar";
@import "docs/content";
@import "docs/footer";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

main {
  display: flex;
  flex: 1;
}
